### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen

build/
.gradle/
src/main/resources/application-local.yml
src/main/resources/application-prod.yml